<div class="panel panel-default box-news">
    <div class="panel-heading">
        <a href="#">@ViewBag.TITLE</a>
    </div>
    <div class="panel-body thongketruycap">
        <p><i class="fa fa-user songdangtruycap" aria-hidden="true"></i> Số người đang truy cập: <strong>@ApplicationInstance.Application["Visitors"]</strong></p>
        <p><i class="fa fa-user songtruycaphomnay" aria-hidden="true"></i> Số người truy cập hôm nay: <strong>@ViewBag.SoNgTruyCapHomNay</strong></p>
        <p><i class="fa fa-users tongsotruycap" aria-hidden="true"></i> Tổng số lượt truy cập: <strong>@ViewBag.TongTruyCap</strong></p>
    </div>
</div>