<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="sidebar" role="navigation">
        @{Html.RenderAction("AdminMenu", "Home");}      
    </div>
</nav>